<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="nav-buffer"></div>
  <h1 class="page-header">Welcome to Muscle Memories<%= user ? `, ${user.profile.name}!` : "!" %></h1>
  <div id="home-page-body">
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
    <% } %>
    <p>Here, you can find programs run by real people. You can run them yourselves, rate them, or just get some new ideas.</p>
    <div id="step-container">
      <div><em>Step 1:</em> Add the exercises you need to the <a class="step-a" href="/exercises/new">exercises page</a>. We've already got lots of them, so check if they're already there first.</div>
      <br>
      <br>
      <div><em>Step 2:</em> Add your program overview to the <a class="step-a" href="programs/new">programs page</a>.</div>
      <br>
      <br>
      <div><em>Step 3:</em> Add the workouts to the program, then add some exercises to those workouts. You're good to go!</div>
      <br>
      <br>
      <div><em>Step 4:</em> Get into the <a class="step-a" href="/posts">forum</a> and program reviews to help drive discussion. Let's make each other better.</div>
    </div>
    <p >Or, you can just skip all that and check out the wonderful programs of the other users <a class="step-a" href="/programs">here</a>!</p>
  </div>
  <div class="footer-buffer"></div>
</main>

<%- include('./partials/footer') %>
