<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/programs/show.css">
<%- include('../partials/nav') %>

<main>
  <h1 class="nav-buffer">Program Details</h1>
  <div id="show-container">
    <h2>Basic Overview:</h2>
    <table>
      <tr>
        <th>Program Name</th>
        <th>Split</th>
        <th>Days Per Week</th>
        <th>Added By</th>
      </tr>
      <tr>
        <td><%= program.name %></td>
        <td><%= program.split %></td>
        <td><%= program.daysPerWeek %></td>
        <td><%= program.addedBy.name %></td>
      </tr>
    </table>
    <div class="note-container">
      <strong>
        <em>A note from <%= program.addedBy.name %>:</em>
      </strong>
      <div><%= program.note %></div>
    </div>
    <div class="show-program-divider"></div>
    <% program.workouts.forEach(workout => { %>
      <h3><%= workout.name %>:</h3>
      <% if (workout.exercises.length) { %>
        <div class="workout-card">
          <table>
            <tr>
              <th>Name</th>
              <th>Sets</th>
              <th>Reps</th>
              <th>RPE</th>
              <th>Tempo</th>
              <% if (program.addedBy._id.equals(user?.profile._id) && program.workouts.length) { %>
                <th></th>

              <% } %>
            </tr>
            <% workout.exercises.forEach(exercise => { %>
              <tr>
                <td><em><%= exercise.exercise.equipment %> <%= exercise.exercise.name %></em></td>
                <td><%= exercise.sets %></td>
                <td><%= exercise.reps %></td>
                <td><%= exercise.rpe %></td>
                <td><%= exercise.tempo %></td>
                <% if (program.addedBy._id.equals(user?.profile._id)) { %>
                <td>
                  <form
                      action="/programs/<%= program._id %>/workouts/<%= workout._id %>/exercises/<%= exercise._id %>?_method=DELETE"
                      method="POST"
                  >
                    <button class="delete-exercise-btn" type="submit">🗑️</button>
                  </form>
                </td>
                <% } %>
              </tr>
            <% }) %>
          </table>
        </div>
      <% } else { %>
        <h3>There aren't any exercises in this workout yet.</h3>
      <% } %>
      <% if (program.addedBy._id.equals(user?.profile._id)) { %>
        <h4><em>Add an exercise to this workout:</em></h4>
        <div class="add-exercise-to-workout">
          <form action="/programs/<%= program._id %>/workouts/<%= workout._id %>/exercises" method="POST">
            <div class="add-exercise-pair">
              <label for="exercise-select"><em>Exerise: </em></label>
              <select id="exercise-select" name="exercise">
                <% exercises.forEach(exercise => { %>
                  <option value="<%= exercise._id %>"><%= exercise.equipment %> <%= exercise.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="add-exercise-pair">
              <label for="sets-input"><em>Sets: </em></label>
              <input type="number" min="1" max="10" id="sets-input" name="sets">
            </div>
            <div class="add-exercise-pair">
              <label for="reps-input"><em>Reps/Range: </em></label>
              <input type="text" id="reps-input" name="reps">
            </div>
            <div class="add-exercise-pair">
              <label for="rpe-input"><em>RPE/RIR: </em></label>
              <input name="rpe" type="number" min="1" max="10" id="rpe-input">
            </div>
            <div class="add-exercise-pair">
              <label for="tempo-input"><em>Tempo: </em></label>
              <input type="text" id="tempo-input" name="tempo">
            </div>
            <button class="add-exercise-btn btn" type="submit">+
        </div>
      <% } %>
      <div class="show-program-divider"></div>
      <% }) %>
    <% if (program.addedBy._id.equals(user?.profile._id)) { %>
      <h3>Add a workout to the program:</h3>
      <div id="add-workout-form-container">
        <form class="add-workout-form" action="/programs/<%= program._id %>/workouts" method="POST">
          <div class="add-workout-form-item-container">
            <label for="workout-name-input">Name (i.e. Upper 1, Push, etc.): </label>
            <input type="string" name="name" id="workout-name-input">
            <button class="add-exercise-btn btn" type="submit">+</button>
          </div>
        </form>
      </div>
    <% } %>
    <div class="show-program-divider"></div>
    <h2>Reviews</h2>
    <% if (user) { %>
      <form action="/programs/<%= program._id %>/reviews" method="POST">
        <label for="content-text">Review: </label>
        <textarea name="content" id="content-text"></textarea>
        <label for="rating-select">Rating: </label>
        <select name="rating" id="rating-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
        <button type="submit">Add Review</button>
      </form>
    <% } else { %>
      <h4>Please sign in to add a review.</h4>
    <% } %>
    <% if (program.reviews.length) { %>
      <% program.reviews.forEach(review => { %>
        <div class="review-card">
          <h5>Review added by <%= review.author.name %> on <%= review.createdAt.toLocaleDateString()  %></h5>
          <p>Rating: <%= review.rating %></p>
          <p><%= review.content %></p>
        </div>
      <% }) %>
    <% } else { %>
      <h4>There are no reviews yet! Already ran this program? Add one!</h4>
    <% } %>
    <% if (program.addedBy._id.equals(user?.profile._id)) { %>
      <div class="btn-container">
        <a href="/programs/<%= program._id %>/edit">
          <button class="edit-btn btn" type="submit">Edit ✏️</button>
        </a>
        <form
          action="/programs/<%= program._id %>?_method=DELETE"
          method="POST"
        >
          <button class="delete-btn btn" ="submit">Delete 🗑️</button>
        </form>
      </div>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>