<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/exercises/new.css">
<%- include('../partials/nav') %>

<main>
  <div class="nav-buffer"></div>
  <h1 class="page-header">Exercises</h1>
  <div id="exercise-page-body">
    <% if (user) { %>
      <form id="new-exercise-form" action="/exercises" method="POST">
        <label for="exercise-name-input">Exercise Name:</label>
        <input type="text" name="name" id="exercise-name-input">
        <label for="equipment-select">Equipment:</label>
        <select name="equipment" id="equipment-select">
          <option value="Barbell">Barbell</option>
          <option value="Dumbbell">Dumbbell</option>
          <option value="Cable">Cable</option>
          <option value="Machine">Machine</option>
          <option value="Bodyweight">Bodyweight</option>
          <option value="Other">Other</option>
        </select>
        <label for="main-target-input">Main Targeted Muscles:</label>
        <input type="text" name="mainTargetedGroup" id="main-target-input">
        <label for="secondary-target-input">Secondary Targeted Muscles:</label>
        <input type="text"  name="secondaryTargetedGroup" id="secondary-target-input">
        <label for="fatigue-select">Estimated Fatigue Cost:</label>
        <select name="fatigueCost" id="fatigue-select">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
        <label for="note-input">Additional Note:</label>
        <input type="text" name="note" id="note-input">
        <button class="add-exercise-btn btn" type="submit">+</button>
      </form>
    <% } else { %>
      <h3>Please sign in to add exercises to the site.</h3>
    <% } %>
    <h2 class="page-subheader">All Exercises</h2>
    <div id="exercise-list">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Equipment</th>
            <th class="main-muscle">Target Muscles</th>
            <th class="secondary-muscle">Secondary Muscles</th>
            <th class="note">Additional Note</th>
          </tr>
        </thead>
        <tbody>
          <% exercises.forEach(exercise => { %>
            <tr>
              <td class="exercise-name"><%= exercise.name %></td>
              <td><%= exercise.equipment %></td>
              <td class="main-muscle"><%= exercise.mainTargetedGroup %></td>
              <td class="secondary-muscle"><%= exercise.secondaryTargetedGroup %></td>
              <td class="note"><%= exercise.note %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>